<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.hermes.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.hermes.app</string>
                <string>hermes</string>
            </array>
        </dict>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>Hermes needs microphone access to record meeting audio.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Hermes needs calendar access to show your upcoming meetings.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Hermes uses speech recognition to transcribe your meeting recordings.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Hermes needs to control other applications to detect screen sharing.</string>
	<key>HERMES_GOOGLE_CLIENT_ID</key>
	<string></string>
	<key>HERMES_GOOGLE_CLIENT_SECRET</key>
	<string></string>
</dict>
</plist>






