name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build (Debug)
        run: xcodebuild -project "Hermes.xcodeproj" -scheme "Hermes" -configuration Debug -destination "platform=macOS" build

